/* Form.css */

/* Header styles */
h3 {
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

/* Container for the form */
.form-container {
    padding: 20px;
    background: rgba(65, 65, 65, 0.14); /* Light background with transparency */
    border-radius: 10px; /* Rounded corners for a softer look */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    margin-bottom: 20px; /* Space below the form */
    color: var(--telegram-text);
}

/* Individual input field styles */
.input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Transparent border */
    border-radius: 4px;
    background-color: rgba(166, 253, 253, 0.53); /* Transparent background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    box-sizing: border-box;

}

/* Placeholder styles for input fields */
.input::placeholder {
    color: rgb(0, 0, 0); /* Placeholder text color for default (light) theme */
    opacity: 1; /* Ensure full opacity for placeholder */
}

/* Placeholder styles for Telegram's night theme */
@media (prefers-color-scheme: dark) {
    /* Adjust placeholder color for dark theme */
    .input::placeholder {
        color: #1f1919; /* Placeholder text color for Telegram's night theme */
    }
}

/* Adjust placeholder color for focused input */
.input:focus::placeholder {
    color: #ccc; /* Placeholder text color on focus (adjust as needed) */
}

/* Checkbox group styles */
.checkbox-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.checkbox-group label {
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
}

.date-label input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid rgb(255, 255, 255); /* Light border */
    border-radius: 4px;
    background-color: #3d3d3d; /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    box-sizing: border-box;
    -webkit-appearance: none; /* Remove default iOS styling */
    color: var(--telegram-text);
}

.date-label input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; /* Hide the default arrow icon */
}

.date-label input[type="date"]:focus {
    border-color: #007bff; /* Focus border color */
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Focus shadow */
}
